/* Custom CSS styles */
.calendars {
    display: flex;
}

.calendar.days-grid .day.today {
    color: black;
}

.calendar.days-grid .day.disabled {
    color: #ccc;
    /* Light grey text */
    cursor: not-allowed;
    /* Shows a not-allowed cursor on hover */
    pointer-events: none;
    Prevents all click,
    state and hover actions
}